<h2>Testy dyrektyw:</h2>
<hr>
<h3>Zmień background-color na czerwony:</h3>
<p appTest>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
<p appTest>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
<p appTest>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
<p appTest>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
<p appTest>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
<p appTest>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
<p appTest>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
