<app-header></app-header>

<ul style="display: flex;">
  <li style="margin-left: 30px;">
    <a routerLink="/directive">Dyrektywa</a>
  </li>
  <li style="margin-left: 30px;">
    <a routerLink="/pipe">Pipe</a>
  </li>
  <li style="margin-left: 30px;">
    <a routerLink="/view-child">View child</a>
  </li>
  <li style="margin-left: 30px;">
    <a routerLink="/simple-service">Simple service</a>
  </li>
  <li style="margin-left: 30px;">
    <a routerLink="/output">Output (Event Emitter)</a>
  </li>
</ul>

<button (click)="onCallRxJsSubject()">Call RxJS Subject</button>

<router-outlet></router-outlet>
