<h2>Testy pipes:</h2>
<hr>


<p>{{ "Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem" | uppercase }}</p>
<p>{{ "Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem" | lowercase }}</p>
<p>{{ exampleDate }}</p>
<p>{{ exampleDate | date }}</p>
<p>{{ exampleDate | date:'fullDate' }}</p>

<p>{{ "Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem" | firstUpper:0:6}} </p>
<p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
<p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
<p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
